* { box-sizing: border-box; border: .5px; }

.container { width: 1200px; height: auto; border: 1px solid white; border-radius: 5px; color: white; text-align: center; font-size: 48px; font-weight: bold; }

.container a { text-decoration: none; }

.container p { color: white; text-transform: uppercase; text-shadow: 2px 2px black; }

.carousel-cell { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-align: center; align-items: center; width: 100%; height: 50vw; min-height: 250px; background-size: cover; text-overflow: ellipsis; word-wrap: break-word; }

.main-carousel img { width: 100%; height: auto; }

.flickity-page-dots { display: none; }

.button { position: absolute; padding: 10px 25px; text-transform: uppercase; right: 0; font-weight: bold; transition: .5s; }

.button:hover { background-color: light-blue; font-weight: bold; color: blue; }

#map { height: 400px; width: 100%; }

.maps { max-width: 400px; margin: 0 auto; }
