* {
	box-sizing: border-box;
	border: .5px;
}
.container {
	width: 1200px;
	height: 250px;
	color: white;
	text-shadow: 1px black;
	text-align: center;
}
.carousel-cell {
	width: 100%;
	height: 50vw;
	min-height: 250px;
	background-size: cover;
	text-overflow: ellipsis;
	word-wrap: break-word;
}
.main-carousel {

}
.main-carousel img {
	width: 100%;
	height: auto;
}
.flickity-page-dots {
	display: none;
}